<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WineWithMe</title>
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/cssjs-dir/index.css">
</head>
<body>
<div class="hero">
    <video autoplay loop muted playsinline class="back-video">
        <source src="/video/videoBackground1.mp4" type="video/mp4">
    </video>
    <nav>
        <img src="/img/logo.png" class="logo">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>WineWithMe</h1>
        <p>Travel to the world of winemaking with just one touch of the screen. Share your experiences, explore new aromas and create delicious memories.</p>
        <form th:method="post" action="/auth-status">
            <input type="submit" value="Let's wine">
        </form>
    </div>
</div>

</body>
</html>