<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/cssjs-dir/login.css">

</head>
<body>
<video autoplay muted loop id="myVideo">

    <source src="/video/videoBackground.mp4" type="video/mp4">
</video>
<div id="lang">
    <a>МK</a>
    <a>EN</a>
</div>

<div class="box">

    <div class="container">
        <div class="top-header">
            <span>Have an account?</span>
            <header>Login</header>
        </div>

        <div class="input-field">
            <input type="text" class="input" placeholder="Username" required>
            <i class="bx bx-user"></i>
        </div>
        <div class="input-field">
            <input type="password" class="input" placeholder="Password" required>
            <i class="bx bx-lock-alt"></i>
        </div>
        <div class="input-field">
            <input type="submit" class="submit" value="Login">
        </div>

        <div class="bottom">
            <div class="left">
                <input type="checkbox"  id="check">
                <label for="check"> Remember Me</label>
            </div>
            <div class="right">
                <label><a href="#">Forgot password?</a></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>