<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Register</title>
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/cssjs-dir/register.css">
</head>
<body>


<div class="box">

    <video autoplay muted loop id="myVideo">
        <source src="/video/videoBackground.mp4" type="video/mp4">
    </video>


    <div class="container">

        <div class="top-header">
            <span>Креирајте профил</span>
            <header>Регистрација</header>
        </div>
        <form method="post" action="/register/mk">

            <div class="input-field">
                <input name="name" type="text" class="input" placeholder="Име" required>
                <i class="bx bx-user"></i>
            </div>
            <div class="input-field">
                <input name="surname" type="text" class="input" placeholder="Презиме" required>
                <i class="bx bx-user"></i>
            </div>
            <div class="input-field">
                <input name="username" type="text" class="input" placeholder="Корисничко име" required>
                <i class="bx bx-user"></i>
            </div>
            <div class="input-field">
                <input name="rpassword" type="password" class="input" placeholder="Лозинка" required>
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-field">
                <input name="password" type="password" class="input" placeholder="Потврди лозинка" required>
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-field">
                <input type="submit" class="submit" value="Регистрација">

            </div>
        </form>

        <div class="bottom">
            <div class="left">
                <input type="checkbox"  id="check" required>
                <label>Ги прифаќам<a href="#" class="terms"> Условите за користење</a> и <a href="#" class="terms">Политиката за приватност</a> </label>
            </div>
        </div>
        <th:block th:if="(${error}!=null)">
            <div class="input-field" style="margin-top: 20px">
                <label style="color: darkred; font-weight: bold; font-size: 14px";>Предупредување:</label>
                <label th:text="${error}" style="color: floralwhite; font-weight: bold; font-size: 14px"></label>
            </div>
        </th:block>

    </div>
</div>
</body>
</html>