<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <base target="_top">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WineWithMe</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://onpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/cssjs-dir/main.css">
    <link rel="stylesheet" href="/cssjs-dir/mywineries.css">
</head>
<body>


<div class="hero">

    <video autoplay loop muted playsinline class="back-video">
        <source src="/video/Sparkling%20wine%20commercial.mp4" type="video/mp4">
    </video>
    <nav>
        <a href="/mainpage/mk">
            <img src="/img/logo.png" class="logo">

        </a>
    </nav>
    <div class="container" style="display: flex; justify-content: space-between">

        <div id="left-container" class="styleborder">
            <div id="profile" class="styleborder">
                <div style="display: flex; justify-content: space-around">
                    <div class="styleborder" id="icon-profile">

                    </div>
                    <div id="info-profile">
                        <p style="color: darkslategray; margin-bottom: 15px; margin-top: 2px; width: 150px; text-align: left; font-size: 15px; margin-left: 8px">
                           Добредојде
                            <th:block th:text="${user?.name}"></th:block>
                            ,уживајте во вистинската доза на вино!
                        </p>

                        <p class="styleborder lists-profile" style="margin-top: -5px">
                            <a href="/profile/mk" style="text-decoration: none; color: ghostwhite; ">Профил</a>
                        </p>
                        <p class="styleborder lists-profile" style="margin-top: -5px">
                            <a href="/mainpage/mywineries/mk" style="text-decoration: none; color: ghostwhite ">Мои винарии</a>
                        </p>
                        <p class="styleborder lists-profile" style="margin-top: -5px">
                            <a href="/logout/mk" style="text-decoration: none; color: ghostwhite ">Одјави се</a>
                        </p>
                    </div>

                </div>

                <div style="width: 70px; height: 100px">
                    <img style="height: 100px; margin-left: 7px" src="/img/wine.png"/>
                </div>
            </div>

            <div id="wineries" class="styleborder">

            </div>

        </div>

        <div  class="border-style" id="map">

            <div class="border-style" id="slide-wineries" >
                <table>
                    <tr>
                        <th>Име</th>
                        <th>Адреса</th>
                        <th>Телефонски број</th>
                        <th>Врати назад</th>
                    </tr>
                    <tr th:each="wine : ${wineries}">
                        <td th:text="${wine.getTitle()}"></td>
                        <td th:text="${wine.getAddress()}"></td>
                        <td th:text="${wine.getPhone()}"></td>
                        <td>
                            <form th:method="post" th:action="@{'/mainpage/mywineries/{id}/undo/mk'(id=${wine.getId()})}">
                                <button style="width: 100px; color: ghostwhite;" class="lists-profile" type="submit">Избриши од омилени!
                                </button>
                                <input name="user" type="hidden" th:value="${user.getId()}">
                            </form>
                        </td>
                    </tr>

                </table>
            </div>

        </div>

    </div>

</div>

</body>
</html>