

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <base target="_top">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WineWithMe</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://onpkg.com/leaflet@1.2.0/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

  <link rel="icon" href="/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/cssjs-dir/about.css">
  <link rel="stylesheet" href="/cssjs-dir/index.css">
</head>
<body>


<div class="hero">

  <video autoplay loop muted playsinline class="back-video">
    <source src="/video/Sparkling%20wine%20commercial.mp4" type="video/mp4">
  </video>
  <nav>
      <a href="/homepage/en">
          <img src="/img/logo.png" class="logo">

      </a>    <ul>
      <li><a href="/homepage/en">HOME</a></li>
      <li><a href="/about/en">ABOUT</a></li>
      <li><a href="/contact/en">CONTACT</a></li>
    </ul>
  </nav>
  <div class="container" style="display: flex; justify-content: space-between">

    <div id="left-container" class="styleborder">

      <div>
                <p>
                  <h1 style="color: darkslategray; margin-top: 20px;  font-family: 'Poppins', sans serif">Welcome to Wine with Me</h1>
                  <p style="color: darkslategray; margin-top: 20px">Exploring Macedonian wineries made easy!</p>

                <section>
                  <h2 style="color: darkslategray; margin-top: 20px;   font-family: 'Poppins', sans serif;">Our Mission</h2>
                  <p style="color: darkslategray; margin-top: 20px;   font-family: 'Poppins', sans serif;">We are passionate about bringing the rich experience of Macedonian wineries closer to you. Wine with Me
                    aims to simplify the process of discovering and enjoying the diverse offerings of local vineyards.</p>

                  <h2 style="color: darkslategray; margin-top: 20px;   font-family: 'Poppins', sans serif;">Who We Are</h2>
                  <p style="color: darkslategray; margin-top: 20px;   font-family: 'Poppins', sans serif;">Wine with Me is a team of enthusiasts with a love for wine and technology. We believe that everyone should
                    have access to the delightful world of Macedonian wines, and our application is designed to make that
                    journey enjoyable and accessible.</p>

                  <h2 style="color: darkslategray; margin-top: 20px;   font-family: 'Poppins', sans serif;">What We Offer</h2>
                  <p style="color: darkslategray; margin-top: 20px;   font-family: 'Poppins', sans serif;">Explore Macedonian wineries, discover new flavors, and share your experiences with the Wine with Me
                    community. Our application provides a user-friendly platform to find, review, and connect with local
                    vineyards.</p>
                   </section>
              </div>

            </div>


    </div>

</div>

</body>
</html>